bokeh==0.12.3
Django==1.10.4
django-autoslug==1.9.3
Jinja2==2.8.1
MarkupSafe==0.23
numpy==1.11.3
pandas==0.19.2
python-dateutil==2.6.0
pytz==2016.10
PyYAML==3.12
requests==2.12.4
six==1.10.0
tornado==4.4.2
virtualenv==15.1.0
