{% load static %}

<!DOCTYPE html>
<html>
<head>
	
	<title>{{ title }}</title>
	{% block javascript %}
		<script src="http://cdn.pydata.org/bokeh/release/bokeh-0.12.3.min.js"></script>
		<script src="http://cdn.pydata.org/bokeh/release/bokeh-widgets-0.12.3.min.js"></script>
	{%  endblock javascript %}

	{% block css %}
		<link href="http://cdn.pydata.org/bokeh/release/bokeh-0.12.3.min.css" rel="stylesheet" type="text/css">
		<link href="http://cdn.pydata.org/bokeh/release/bokeh-widgets-0.12.3.min.css" rel="stylesheet" type="text/css">
		<link href="{% static "webSedec/bootstrap/css/bootstrap.min.css" %}" rel="stylesheet" type="text/css">
	{% endblock css %}

</head>
<body>
	{% block content %}
		
	{% endblock content %}
</body>
</html>